<!DOCTYPE html>
<div class="nav navUser">
    <h3 id="logo">HuddleUp</h3>
    <div class="welcome">
        <p>Welcome, {{session.user}}!</p>
        {{#if session.user}}
            <a href="/logout" id="logout">Logout</a>
        {{/if}}
    </div>
</div>

<div class="background">

</div>

<div class="dashboard">
    <h3 class="myTeams">{{team}} Team Roster</h3>
    <div class="rosterWrapper">
        <table class="rosterTable">
              <tr>
                <th>Child Name</th>
                <th>Parent Name</th>
                <th>Parent Cell</th>
                <th>Parent Email</th>
              </tr>
            {{#each roster}}
              <tr>
                <td>{{childname}}</td>
                <td>{{firstname}} {{ lastname}}</td>
                <td>{{cellphone}}</td>
                <td>{{email}}</td>
              </tr>
          {{/each}}
        </table>
    </div>
</div>
