<h1>Roster</h1>
{{#each roster}}
<p>
    Child Name: {{childname}}
    First Name: {{firstname}}
    Last Name: {{lastname}}
    Cell Phone: {{cellphone}}
    home Phone{{homephone}}
    Email: {{email}} <br><br>
</p>
{{/each}}
